/* @use './utils/variables' as *; */
@tailwind base;
@tailwind components;
@tailwind utilities;

* *,
*::after,
*::before {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}
body {
  /* font-family: $ff-default; */
}

/* button {
  display: inline-block;

  font: inherit;
  color: inherit;

  padding: 0;
  margin: 0;

  user-select: none;

  cursor: pointer;
} */

.list-reset {
  list-style-type: none;

  padding: 0;
  margin: 0;
}
