@use './utils/variables' as *;

*,
*::after,
*::before {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: $ff-default;
}

button {
  display: inline-block;

  font: inherit;
  color: inherit;

  padding: 0;
  margin: 0;

  user-select: none;

  cursor: pointer;

  border: none;
  background: none;

  &:focus {
    outline: 0;
  }
}

.list-reset {
  list-style-type: none;

  padding: 0;
  margin: 0;
}
